.service{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
    
}
.service-con{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin-top: 5.2rem;
    gap: 80px;
}
.service-box{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;

}
.service-left{
    width: 50vw;
    color: #265AA5;
}
.service-left h1{
    font-family: sans-serif;
    font-weight: 700;
    font-size: 50px;
    color: orange;
}
.service-right{
    width: 50vw;
}
.service-right img{
    width: 40vw;
    border-radius: 5px;
}

.service .ul{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    list-style: none;
    margin-top: 100px;
}
.service-con button{
    width: 200px;
    padding: 20px;
    border-radius: 50px;
    border: hidden;
    font-size: 20px;
    box-shadow: 0px 5px 10px #a0c8ff;
    background-color:#265AA5;
    transition: .3s;
    bottom: 0px;
    cursor: pointer;
    color: white;
}

.topic-align1{
    align-items: center;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    width: 100%;
    box-shadow: 0 0 10px gainsboro;
    border-radius: 5px;
    padding: 20px;
    
}
.topic-left{
    width: 30rem;
}
.topic-left p{
    color: gray;
}
.topic-align1 img{
    width: 30vw;

    
}
.topic-align2{
    flex-direction:row;
}

@media (max-width:768px) {
    .service-box{
        flex-direction: column;
    }
    .service-left{
        width: 100%;
        color: #265AA5;
        
    }
    .service-right{
        width: 90vw;
    }
    .service-right img{
        width: 90vw;
    }
    .topic-align1{
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-self: center;
        width: 100%;
        box-shadow: 0px 5px 10px gainsboro;
        border-radius: 10px;
        padding-top: 30px;
    }
    #topic-align2{
        flex-direction: column-reverse;
    }
    .topic-left{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        text-align: center;
    }
    .topic-align1 img{
        width: 75vw;
    }
    .service-left h1{
        font-size:35px;
        text-align: center;
        
    }
    
}