.choose-us{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
    
}
.choose-us h1{
    color:#265AA5;
    margin-top: 5rem;
}
.choose-us-con{
    width: 90%;
    box-shadow: 0 0 10px gainsboro;
    padding: 20px;
    border-radius: 10px;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.choose-us-con li{
    color: gray;
    font-family: "Calibri", Arial,sans-serif;
  font-weight: 300;
  font-size: 18px;
  font-style: normal;
}