.scroll-effect{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.scroll-box{
    width: 90%;
    display: flex;
    
    justify-content: center;
    gap: 2vw;
}
.con1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg-con h1{
    font-family:sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: rgb(255, 217, 0);
}
.background{
    background-color:#265AA5 ;
    color: white;
    padding: 50px 20px 50px 30px ;

    border-radius: 2vw;
   
    border-radius: 2vw;
    width: 25vw;
   
    display: flex;
    font-size: 1.5vw;
    flex-direction: column;
    justify-content: space-around  ;
    gap: 10px;
}
.div1{
    display: flex;
    gap: 2vw;

}
.con2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2vw;
    align-items: center;
}
.con2 img{
    border-radius: 2vw;
    width: 20vw;
}

.con3 img{
    border-radius: 2vw;
    width: 20vw;
    height: 30vw;
}
.background button{
    padding: 1vw;
    border-radius: 10px;
    border: hidden;
    font-size: 1vw;
    width: 10vw;
    padding: .5vw;
    border: hidden;
    font-size: 1.5vw;
    background-color: white;
    transition: .3s;
    bottom: 0px;
    cursor: pointer;
    color: #265AA5;
}
.bg-con{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media (max-width:768px) {
    .background{
        font-size: 3.41vw;
        
        padding: 20px 20px 20px 30px ;
    width: 70vw;
    border-radius: 4vw;
    }
    .background button{
        width: 35vw;
        padding: 8px;
        font-size: 18px;

    }
    
    .scroll-box{
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .con2 img{
        width: 43vw;
        border-radius: 4vw;
    border-radius: 4vw;
    }
    .con3 img{
        width: 43vw;
        height: 80vw;
        border-radius: 4vw; 
    }
}
