
.slide{
    
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
.slide-con{
    width: 85%;
    padding: 10px;
    box-shadow: 0 0 10px gainsboro;
    border-radius: 10px;
    
}   
.slide-con img{
    width: 26vw;
    height: 20vw;
    border-radius: 10px;
    
}


@media (max-width:768px) {
    .slide-con img{
        width: 38vw;
    height: 30vw;
        
    }
}

@media (max-width:425px) {
    .slide-con img{
        width: 79vw;
    height: 60vw;
        
    }
}